<h2>Decoradores @Input y @Ouptut</h2>

<!-- <app-sugus color="yellow" sabor="limón"></app-sugus>
<app-sugus color="blue" sabor="piña"></app-sugus>
<app-sugus></app-sugus> -->

<app-sugus [sugus]="{color: 'yellow', sabor: 'limón'}"></app-sugus>
<app-sugus [sugus]="{color: 'blue', sabor: 'piña'}"></app-sugus>
<app-sugus></app-sugus>

<app-form-cv
  [nombre]="nombre"
  [apellidos]="apellidos"
  [email]="email"
  (datoCambiado)="cambiarDatos($event)"
></app-form-cv>

<app-preview-cv
  [nombre]="nombre"
  [apellidos]="apellidos"
  [email]="email"
></app-preview-cv>
