<h2>Pipes</h2>

<button type="button" (click)="count = count + 1">Cuenta: {{count}}</button>

<!-- <div>
  <h3>{{producto.nombre}}</h3>
  <p>{{producto.descripcion}}</p>
  <p>Precio: {{producto.precio}}</p>
  <p>Fecha de compra: {{producto.fechaDeCompra}}</p>
</div> -->

<div>
  <!-- <h3>{{producto.nombre | uppercase | lowercase }}</h3> -->
  <h3>{{producto.nombre | titlecase}}</h3>
  <p>{{producto.descripcion | slice:0:finSubstring}}...</p>
  <p>Precio: {{producto.precio | descuento:50 | currency:'EUR'}}</p>
  <p>Fecha de compra: {{producto.fechaDeCompra | date:'dd/MM/yyyy'}}</p>
</div>

<pre>{{producto | json}}</pre>

<p>Mensaje: {{mensaje | async}}</p>

<input type="text" (change)="addProducto($event)">
<ul>
  <li *ngFor="let producto of productos">{{producto}}</li>
</ul>

<input type="text" [(ngModel)]="textoFiltro">
<ul>
  <li *ngFor="let producto of productos | filtro:textoFiltro">{{producto}}</li>
</ul>